*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background:#f39c12;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

.logo img{
    display: block;
    width: 60px;
    color: #000;
}

.nav-links a{
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 17px;
}

.content{
    flex: 1;
    padding: 40px;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 60px;
}

.map img{
    width: 100%;
    border-radius: 8px;
}

.contact-info h1{
    margin-bottom: 10px;
}

.email{
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group{
    margin: 15px 0;
}

.radio-option{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.radio-option input[type="radio"]{
    transform: scale(1.1);
}

.checkbox-group{
    margin: 15px 0 20px;
}

.checkbox-option{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-size: 14px;
}

.checkbox-option input[type="checkbox"]{
    transform: scale(1.1);
}

.contact-form button{
    background: #f39c12;
    color: black;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.team h2{
    margin-bottom: 30px;
    text-align: center;
}

.team-cards{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.card{
    text-align: center;
}

.card img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.footer{
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

.footer p{
    margin: 0;
    font-size: 14px;
}

.social-icons{
    margin-top: 10px;
}

.social-icons a{
    color: white;
    margin: 0 10px;
    font-size: 22px;
    transition: color 0.3s ease;
}

.social-icons a:hover{
    color: #f39c12;
}